name: Android CI Debug
permissions:
  contents: read

on:
  #push:
  #  branches: ['main']
  pull_request:
    branches: ['main']
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Decode keystore
        run: |
         echo "$KEYSTORE_BASE64" | base64 --decode > app/keystore.jks
      
      - name: Grant execute permission for gradlew
        run: chmod +x gradle

      - name: Build with Gradle
        run:  ./gradlew clean && ./gradlew assembleDebug --warning-mode all
        env:
         KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
         KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
         KEY_ALIAS: ${{ secrets.KEY_ALIAS }}

      - name: Upload Gradle Problem Report
        uses: actions/upload-artifact@v5
        with:
          name: gradle-problem-report-${{ matrix.build_type }}-${{ github.run_id }}
          path: build/reports/problems/
          if-no-files-found: warn

      - name: Upload debug apk
        uses: actions/upload-artifact@v5
        if: ${{ !github.head_ref }}
        with:
          name: apk-debug
          path: app/build/outputs/apk/debug/app-debug.apk
